.rgs-wrapp{
    height: 6rem;
    width: 100%;
    background-color: rgb(36, 33, 33);
    border-bottom: 2px solid rgb(235, 235, 240);
}

.rgs-h1{
    font-size:xx-large;
    font-family: Poppins;
    font-weight: 800;
    color: beige;
    padding: 15px 25px;
    padding-left: 10rem;
   bottom: 10px;
    

    
    
    align-items: center;
   
}

.rgs-btn{

    position: relative;
    right: -50rem;
    bottom: 3rem;
    background-color: aqua;
    border-radius: 2px;
    box-sizing: border-box;
    border-radius: 3.5rem;
    border-color: aqua;
    font-size: 15px;
    font-weight: 600;
    height:43px;
    width:9rem;
    //padding: 1.3rem 3rem 1.1rem;
   // position: absolute;
    //line-height: 2.2rem;

    /*
    top:20rem;
    float: right;
 //padding: 30px;
 //position: absolute;
 
  //top:20rem;
 // margin: 18rem; */
  
}